@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f2f5;
  --foreground: #171717;
}

.menu-list {
  @apply bg-white rounded-xl shadow-lg p-4 w-full max-w-sm mx-auto;
}
.column {
  @apply flex flex-col items-center justify-start w-full p-0.5 gap-1 rounded sm:min-h-[calc(100vh-400px)] md:min-h-[calc(100vh-200px)];
}

.card {
  @apply h-[169px] rounded-[20px] shadow-xl p-3 w-full xl:w-[345px] relative overflow-hidden border-2 border-gray-200;
}
.card-title {
  @apply text-base font-bold mb-2 leading-tight line-clamp-1;
}

.tag-new {
  background-color: #dae1e7;
}
.tag-ongoing {
  background-color: #e6c6b7;
}
.tag-done {
  background-color: #b7d6cf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
